USE [master]
GO
/****** Object:  Database [test]    Script Date: 03/17/2017 12:52:45 ******/
CREATE DATABASE [test] ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\test.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\test_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[RTypeTbl]    Script Date: 03/17/2017 12:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RTypeTbl](
	[RowId] [int] IDENTITY(1,1) NOT NULL,
	[RTypeID]  AS ('R'+right('00'+CONVERT([varchar](5),[RowId],0),(5))) PERSISTED NOT NULL,
	[RTypeName] [nvarchar](max) NULL,
	[CreateDate] [date] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[UpdateBy] [nchar](10) NULL,
	[UpdateDate] [date] NULL,
 CONSTRAINT [PK_RTypeTbl] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeTypeTbl]    Script Date: 03/17/2017 12:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeTypeTbl](
	[RowId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeTypeID]  AS ('ST'+right('00'+CONVERT([varchar](10),[RowId],(0)),(50))) PERSISTED,
	[EmployeeTypeName] [nvarchar](max) NULL,
	[CreateDate] [date] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[UpdateBy] [nchar](10) NULL,
	[UpdateDate] [date] NULL,
 CONSTRAINT [PK_EmployeeTypeTbl] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeTbl]    Script Date: 03/17/2017 12:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeTbl](
	[RowId] [int] IDENTITY(1,1) NOT NULL,
	[ID]  AS ('Emp'+right('000'+CONVERT([varchar](10),[RowId],(0)),(50))) PERSISTED,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Qual] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Nid] [nvarchar](max) NULL,
	[Specl] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Salary] [nvarchar](max) NULL,
	[Day] [nvarchar](max) NULL,
	[Time] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[UpdateBy] [nchar](10) NULL,
	[UpdateDate] [date] NULL,
 CONSTRAINT [PK__Employee__FFEE74311273C1CD] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
